@model IEnumerable<mWallet.Models.ExpensesModel>

@{
    ViewBag.Title = "Expenses";
    var success = TempData["success"];
    var fail = TempData["fail"];
}

<style>
    h2 {
        margin: 15px 0 10px 10%;
    }

    h4 {
        margin-left: 10%;
    }

    .spacing {
        margin: 0 0 5px 10%;
    }

    select {
        color: white;
        height: 34px;
        background-color: #337ab7;
        border-color: #2e6da4;
        margin-bottom: 5px;
        border-radius: 4px;
        text-align: center;
        width: 120px;
    }
</style>

<h2>Expenses</h2>

<a href="@Url.Action("Add", "Expenses")" class="btn btn-primary spacing">
    Add Expenses
</a>

<select class="form-select" name="month" id="month">
    @foreach (var item in ViewBag.ddlMonth)
    {
        if (ViewBag.curMonth == item.Value)
        {
            <option selected value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>

@if (success != null)
{
    <h4 class="text-success">
        @success
    </h4>
}

@if (fail != null)
{
    <h4 class="text-warning">
        @fail
    </h4>
}

<table id="darkTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a href="@Url.Action("DeleteExpenses", "Expenses", new { desc = item.desc, amt = item.amount })">Delete</a>
            </td>
        </tr>
    }

</table>


<input type="hidden" id="desc" />
<input type="hidden" id="amt" />

<script>

    var Confirm = function (_desc, _amt) {
        console.log("Enter");
        $.ajax({
            type: "POST",
            url: "/Expenses/DeleteExpenses",
            data: { desc: _desc, amt: _amt },
            success: function (result) {
                if (result) {
                    window.location.href = "/Expenses";
                } else {
                    alert("Something when wrong while removing staff, please try again!")
                }
            }
        });
        console.log("Exit");
    };

</script>

<script>
    $(document).ready(function () {
        $("#month").change(function () {
            var _month = $("#month").val();
            window.location.href = "/Expenses/?month=" + _month;
        });
    });
</script>