@model IEnumerable<mWallet.Models.ExpensesModel>

@{
    ViewBag.Title = "Expenses";
    var success = TempData["success"];
    var fail = TempData["fail"];
}

<style>
    h2 {
        margin: 15px 0 10px 10%;
    }

    .spacing {
        margin: 0 0 5px 10%;
    }
</style>

<h2>Expenses</h2>

<a href="@Url.Action("Add", "Expenses")" class="btn btn-primary spacing">
    Add Expenses
</a>

<table id="darkTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a href="@Url.Action("DeleteExpenses", "Expenses", new { desc = item.desc, amt = item.amount })">Delete</a>
            </td>
        </tr>
    }

</table>


<input type="hidden" id="desc" />
<input type="hidden" id="amt" />

<script>

    var Confirm = function (_desc, _amt) {
        console.log("Enter");
        $.ajax({
            type: "POST",
            url: "/Expenses/DeleteExpenses",
            data: { desc: _desc, amt: _amt },
            success: function (result) {
                if (result) {
                    window.location.href = "/Expenses";
                } else {
                    alert("Something when wrong while removing staff, please try again!")
                }
            }
        });
        console.log("Exit");
    };

</script>


@if (success != null)
{
    <h3 class="text-success">
        @success
    </h3>
}

@if (fail != null)
{
    <h3 class="text-warning">
        @fail
    </h3>
}
