@model IEnumerable<mWallet.Models.ExpensesModel>

@{
    ViewBag.Title = "Expenses";
    var success = TempData["success"];
}

<style>
    h2 {
        margin: 15px 0 10px 10%;
    }

    .spacing {
        margin: 0 0 5px 10%;
    }
</style>

<h2>Expenses</h2>

<a href="@Url.Action("Add", "Expenses")" class="btn btn-primary spacing">
    Add Expenses
</a>

<table id="darkTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

@if (success != null)
{
    <h3 class="text-success">
        @success
    </h3>
}
