@using mWallet.Models;
@model SummaryReport

@{
    ViewBag.Title = "SummaryReport";
    decimal grand_total = 0;
    foreach (var item in Model.summary_by_year)
    {
        grand_total += item.amount;
    }
}

<style>
    .center {
        text-align: center;
    }

    .bold {
        font-weight: bold;
        font-size: large;
    }
</style>

<h2>SummaryReport</h2>
@foreach (var item in Model.summary_by_year)
{
    <div style="background-color: #404040;">
        <div class="row">
            <div class="col-md-1 bold" style="padding-top: 5px; margin-left: 15px;">Year :</div>
            <div class="col-md-10" style="padding-top: 8px;">@item.year</div>
        </div>

        <hr />
        <div class="row center">
            <div class="col-md-2 bold">Month</div>
            <div class="col-md-6"></div>
            <div class="col-md-4 bold">Amount</div>
        </div>
        <hr />

        @foreach (var month in Model.summary_by_month)
        {
            if (item.year == month.year)
            {
                <div class="row center">
                    <div class="col-md-2">@month.month</div>
                    <div class="col-md-6"></div>
                    <div class="col-md-4">@month.amount</div>
                </div>
            }
        }
        <br /><hr />
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-2 bold">Sub Total : </div>
            <div class="col-md-4 center">@item.amount</div>
        </div>
    </div>
    <br />
    <br />

}
<hr />
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-2 bold">Grand Total : </div>
    <div class="col-md-4 center">@grand_total</div>
</div>

