@model IEnumerable<mWallet.Models.IncomeModel>

@{
    ViewBag.Title = "Income";
    var success = TempData["success"];
}

<style>
    h2 {
        margin: 15px 0 10px 10%;
    }

    .spacing {
        margin: 0 0 5px 10%;
    }
    
    select {
        color: white;
        height: 34px;
        background-color: #337ab7;
        border-color: #2e6da4;
        margin-bottom: 5px;
        border-radius: 4px;
        text-align: center;
        width: 120px;
    }
</style>

<h2>Income</h2>

<a href="@Url.Action("Add", "Income")" class="btn btn-primary spacing">
    Add Income
</a>

<select class="form-select" name="month" id="month">
    @foreach (var item in ViewBag.ddlMonth)
    {
        if (ViewBag.curMonth == item.Value)
        {
            <option selected value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>

<table id="darkTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                <a href="@Url.Action("DeleteIncome", "Income", new { desc = item.desc, amt = item.amount })">Delete</a>
            </td>
        </tr>
    }

</table>

@if (success != null)
{
    <h3 class="text-success">
        @success
    </h3>
}

<script>
    $(document).ready(function () {
        $("#month").change(function () {
            var _month = $("#month").val();
            window.location.href = "/Income/?month=" + _month;
        });
    });
</script>

